body {
    background: linear-gradient(45deg, #43C6AC,#191654);
    background-repeat: no-repeat;
    background-size:cover;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family:"Rancho", serif;
    font-size:60px;
    color:azure;
    text-transform: uppercase;
    opacity: 0.5;
}

#paragraph1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    color: aliceblue;
    opacity: 0;
}  

#paragraph2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    color: aliceblue;
    opacity: 0;
}

#paragraph3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    color: aliceblue;
    opacity: 0;
}

div.container {
    /*border: 1px solid red;*/
    width: 100%;
    height: 100%;
    display: table;
}

div.container::after {
    content: "";
    display: table;
    clear: both;
}

div {
    /*border: 1px solid red;*/
}

div.passato, div.presente, div.futuro {
    float: left;
    width: 32.67%;
    height: 690px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.2;
    position:static;
    margin: 5px 5px 5px 5px;
    background-color: #000;
}

div.passato {
    /*background: url("../../../img/passato.jpg");*/
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 0px 100px 100px 0px;
}

div.presente {
    /*background-image: url("../../../img/presente.jpg");*/
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 200px 200px 200px 200px;
}

div.futuro {
    /*background-image: url("../../../img/futuro.jpg");*/
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 100px 0px 0px 100px;
}

div.passato:hover {
    background: url("../../../img/passato.jpg");
    animation: animation 1.5s ease-in-out ;
    background-size: cover;
    background-repeat: unset;
}

div.presente:hover {
    background-image: url("../../../img/presente.jpg");
    animation: animation 1.5s ease-in-out ;
    background-size: cover;
    background-repeat: unset;
}

div.futuro:hover {
    background-image: url("../../../img/futuro.jpg");
    animation: animation 1.5s ease-in-out ;
    background-size: cover;
    background-repeat: unset;
}

div.passato:hover #paragraph1 {
    animation: fadeIn ease 1s;
    animation-fill-mode: forwards; 
}

div.presente:hover #paragraph2 {
    animation: fadeIn ease 1s;
    animation-fill-mode: forwards; 
}

div.futuro:hover #paragraph3 {
    animation: fadeIn ease 1s;
    animation-fill-mode: forwards; 
}

div.passato:hover, div.presente:hover, div.futuro:hover {
    opacity: 0.8;
    background: cover unset;
}

footer {
    background: #000;
    opacity: 0.4;
    margin-top: 5px ;
    height: 100px;
}

.footer {
    opacity: 1;
    color:aliceblue;
}

@keyframes animation {
    100%{
     background-position: 0px -690px;
   }
 }

 @keyframes fadeIn {
     0% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }