html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(45deg, #43C6AC,#191654);
    background-size:cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family:"Rancho", serif;
    font-size:60px;
    color:azure;
    text-transform: uppercase;
    opacity: 0.5;
}

#paragraph1, #paragraph2, #paragraph3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    color: azure;
    opacity: 0;
}

div.container {
    /*border: 1px solid red;*/
    width: 100%;
    height: 80%;
}

div {
    /*border: 1px solid red;*/
}


.passato {
    /*background: url("../../../img/passato.jpg");*/
    border-radius: 0px 100px 100px 0px;
   
}

.presente {
    /*background-image: url("../../../img/presente.jpg");*/
    border-radius: 200px 200px 200px 200px;
    background-size: cover;
}

.futuro {
    /*background-image: url("../../../img/futuro.jpg");*/
    border-radius: 100px 0px 0px 100px;
    background-size: cover;
}

.passato, .presente, .futuro {
    background-size: cover;
    float: left;
    width: 32.67%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.2;
    margin: 5px 5px 5px 5px;
    background: #000 repeat-y;
    overflow: hidden;
    box-shadow:0 0 50px #000;
    transition: opacity 0.5s ease;
}


div.passato:hover {
    background-size: cover;
    background: url("../../../img/passato.jpg");
}

div.presente:hover {
    background-size: cover;
    background-image: url("../../../img/presente.jpg");
}

div.futuro:hover {
    background-size: cover;
    background-image: url("../../../img/futuro.jpg");
}

div.passato:hover #paragraph1, div.presente:hover #paragraph2, div.futuro:hover #paragraph3{
    animation: fadeIn ease 1s;
    animation-fill-mode: forwards; 
}

div.passato:hover, div.presente:hover, div.futuro:hover {
    opacity: 0.8;
    animation: fadeIn ease-in 1s;
    animation-fill-mode: forwards; 
}

footer {
    background: #000;
    height: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
}

footer img{
    width: 40px;
    height: 40px;
    margin: 8px 10px;
}

footer a{
    text-decoration: none;
    padding: 0;
}

.pfooter {
    opacity: 1;
    color:aliceblue;
}

@keyframes animation {
    100% {
     background-position: 0px -700px;
   }
 }

 @keyframes fadeIn {
     0% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}