body {
    background: linear-gradient(45deg, beige, azure);
    background-repeat: no-repeat;
    background-size:cover;
}

h1 {
    font-family:"Rancho", serif;
    font-size:60px;
    color:cadetblue;
    background-image: url("../../img/background-h1.jpg");
    opacity: 0.9;
    margin: 0;
    padding: 0;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}

* {
    box-sizing: border-box;
  }

div.container {

    border: 1px solid red;
    width: 100%;
    height: 885px;
    
}

div.container::after {
    content: "";
    display: table;
    clear: both;
}

div {
    /*border: 1px solid red;*/
}

div.passato, div.presente, div.futuro {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    /*margin: 5px 5px 5px 5px;*/
}

div.passato {
    background-color:slategrey;
    
}

div.passato:hover {
    background: url("../../img/passato.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    animation: animation 1.5s ease-in-out ;
    background-repeat:unset
}

div.presente:hover {
    background-image: url("../../img/presente.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    animation: animation 1.5s ease-in-out ;
    background-repeat:unset
}

div.presente {
    background-color:blue
}

div.futuro {
    background-color:deeppink;
}

div.passato:hover, div.presente:hover, div.futuro:hover {
    opacity: 1;
}

li a {
    width: 100%;
    display: block;
    text-decoration: none;
}

@keyframes animation {
    100%{
     background-position: 0px -885px;
   }
 }